
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>CAR SHOP</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f2f2f2
    ;">
        <div class="container-fluid">
          <div class="p">
          <a class="navbar-brand" href="#"><img width="140" height="91" src="https://st3.depositphotos.com/4455875/13347/v/950/depositphotos_133473916-stock-illustration-car-sale-logo-template-design.jpg" class="header_logo header-logo" alt="imychic"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="l">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./services.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact</a>
              </li>
             
            </ul>
          </div>
          </div>
        </div>
      </nav>
      <section name= "accueil"></section>




      <h1 style="color:gold; text-align: center; padding-top: 50px;">CAR SHOP</h1>
 
      
      <div >
      <img style="width: 700px; height: 500px; margin-left: 300px;" src="https://th.bing.com/th/id/R.2049ee07773dce8e0a3a2f5598364e0a?rik=FsMP0BoPb7YL3Q&riu=http%3a%2f%2fdestination-dubai.fr%2f1859-thickbox_default%2flocation-voiture-de-luxe-dubai.jpg&ehk=OxeCCimPvOdk%2bgyDnn52UaRUNWffy0j7Ax7W9CDF5A8%3d&risl=&pid=ImgRaw&r=0" >
  
  </div>
  </section>
</body>
</html>
