<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>CAR SHOP</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #f2f2f2
    ;">
        <div class="container-fluid">
          <div class="p">
          <a class="navbar-brand" href="#"><img width="140" height="91" src="https://st3.depositphotos.com/4455875/13347/v/950/depositphotos_133473916-stock-illustration-car-sale-logo-template-design.jpg" class="header_logo header-logo" alt="imychic"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>

          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="l">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="./home.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./services.html">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contact.html">Contact</a>
              </li>
             
            </ul>
          </div>
          </div>
        </div>
      </nav>
      <section name= "services"></section>




      <h1 style="color:gold; text-align: center; padding-top: 50px;">New car</h1>
 
      <div style="display: flex; flex-wrap: wrap;">
      <div style="padding: 10px;">
        <img src="https://th.bing.com/th/id/OIP._hVhmpzy9GBeQEmz1LrZcwHaE7?pid=ImgDet&rs=1" alt="carshop" class="car" lazy="loaded">
    </div>
    <div style="padding: 10px; ">
        <img src="https://th.bing.com/th/id/R.e404fcf5ba37755e7fa57b977b5d966d?rik=j5hdcKeTUFn%2bDA&pid=ImgRaw&r=0" alt="carshop" class="car"lazy="loaded">
      </div>
      <div style="padding: 10px; ">
        <img src="https://th.bing.com/th/id/R.c8840026a1034dfed6db2091cb648de9?rik=sfpLrN7L0F6SdA&pid=ImgRaw&r=0" alt="carshop" class="car" lazy="loaded">
      </div>
      <div style="padding: 10px; ">
        <img src="https://www.mgownersclub.co.uk/sites/default/files/news/mgemotion_0.jpg" alt="carshop" class="car" lazy="loaded">
      </div>
      <div style="padding: 10px; ">
        <img src="https://th.bing.com/th/id/R.2f40c0809917c2cec6b96a1c727801bc?rik=5IGKJG%2bXLvD5PA&pid=ImgRaw&r=0" alt="carshop" class="car" lazy="loaded">
      </div>
      <div style="padding: 10px; ">
        <img src="https://th.bing.com/th?id=OIF.YwmpU%2fDNBoXvB8Sv1ICxBw&pid=ImgDet&rs=1" alt="carshop" class="car"  lazy="loaded">
      </div>
      
  </div>
  </section>
</body>
</html>